.contactinfo {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: #0f0f0f;
    color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    margin-bottom: 30px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ffffff;
  }
  
  textarea {
    height: 150px;
  }
  
  button[type="submit"] {
    background-color: #00ff00;
    color: #000000;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #ffffff;
    color: #000000;
  }


  .collaboration-header {
    background-image: url('../images/blacklines.gif'); /* Replace with your desired background image */
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-content {
    text-align: center;
    color: #ffffff;
  }
  
  .header-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .header-content p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  
  @media only screen and (max-width: 668px) {
    .header-content {
      max-width: 50%;
    }
  }
  
  
  
  