---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
<style>
	:root {
		--accent-gradient: linear-gradient(135deg, #000000, #373b3f); /* Blue gradient */
		--accent-light: 72, 133, 237; /* Light blue color */
		--background-dark: #414549; /* Dark grey-blue background */
		--background-light: #363b41; /* Light grey-blue background */
		--text-light: #ecf0f1; /* Light text color */
	}
	.link-card {
		list-style: none;
		display: flex;
		padding: 2px;
		background-color: var(--background-dark);
		border-radius: 12px;
		transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		overflow: hidden;
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1.5rem;
		border-radius: 12px;
		color: var(--text-light);
		background: var(--background-dark);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transition: background 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.3s ease-in-out;
	}
	h2 {
		margin: 0;
		font-size: 1.75rem; /* Increased font size */
		font-weight: 700; /* Added boldness */
		transition: color 0.3s ease-in-out;
		display: flex;
		align-items: center;
		justify-content: space-between;
		letter-spacing: 0.5px; /* Added spacing between letters */
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Added subtle shadow */
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		font-size: 1rem;
		opacity: 0.9;
	}
	.link-card:is(:hover, :focus-within) {
		transform: scale(1.05);
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	}
	.link-card:is(:hover, :focus-within) > a {
		background: var(--accent-gradient);
		color: var(--text-light);
		opacity: 1;
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
	span {
		transition: transform 0.3s ease-in-out;
	}
	.link-card:is(:hover, :focus-within) span {
		transform: translateX(5px);
	}
</style>
