/* src/components/EducationSection.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.education-section-container {
    padding: 1rem 2rem;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(50px);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    will-change: opacity, transform;
}

.education-section-container.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.education-section-title-container {
    margin-bottom: 2rem;
}

.education-section-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5rem;
    color: #ffffff;
    position: relative;
    text-align: left;
    margin-left: 1rem;
}

.education-section-title::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #00d4ff;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.education-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.education-item {
    background: linear-gradient(135deg, #333, #777);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease, opacity 0.3s ease, transform 0.6s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    text-decoration: none;
    perspective: 1000px;
    opacity: 0;
    transform: translateY(50px) scale(0.8) rotate(10deg);
}

.education-item.active {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(0);
}

.education-item:hover {
    transform: translateY(-10px) rotateX(10deg);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #777, #333);
}


.education-item h3 {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    color: #f8f8f8;
    border-bottom: 2px solid #ff004d;
    padding-bottom: 5px;
}

.education-item p {
    margin: 10px 0;
    font-size: 1rem;
    color: #f7f7f7;
    line-height: 1.5;
}

@media (max-width: 1024px) {
    .education-content {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (max-width: 768px) {
    .education-content {
        grid-template-columns: 1fr;
    }
}
